
table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

img{
    border: 1px solid black;
}
#body {
    margin: 10px 300px;
    border: 3px solid black;
    height: 9 00px;
    width: 600px;
    background-color:rgb(230, 229, 229);
}
body{
    margin: 100px;
    margin-top: 40px;  
}

#outer {
    margin: 40px 0px;
    margin-left: 90px;
    display: flex;
}

#inner {
   margin: auto;
}
hr{
    border: 1px solid black;
}
#Table, tr{
    width: 450px;
    margin: 10px;
}
#hobbies{
    margin: 40px 0px;
    margin-left: 90px;
}
#hobbies ul{
    list-style-type: square;
}
#Table{
  margin: 40px 0;
}
